.modal {
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   display: none;
   background-color: rgba(0, 0, 0, 0.5);
}
.modal.active {
   display: flex;
   justify-content: center;
   align-items: center;
}
.content {
   padding: 22px;
   border-radius: 16px;
   background: white;
   min-width: 250px;
}
