* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#root {
   display: flex;
   align-items: center;
   flex-direction: column;
}
.App {
   width: 100%;
   max-width: 768px;
   margin-top: 8px;
}
.post {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   border: 1px solid teal;
   border-radius: 16px;
}
.post:not(:last-child) {
   margin-bottom: 5px;
}
.newPostForm {
   margin-bottom: 12px;
}
.post-enter {
   opacity: 0;
}
.post-enter-active {
   opacity: 1;
   transition: opacity 200ms;
}
.post-exit {
   opacity: 1;
}
.post-exit-active {
   opacity: 0;
   transition: opacity 200ms;
}
.page {
   margin: 2px;
}
.page-active {
   border: 1px;
   font-weight: bold;
}

.nav-routes-container {
   max-width: 768px;
   margin: 0 auto;
}
.nav-routes-container > a {
   color: black;
   /* text-decoration: none; */
}
.nav-routes-container > a:not(:last-child) {
   margin-right: 15px;
}
.nav-routes-container > a.active {
   color: teal;
   text-decoration: none;
}
.nav-routes {
   width: 100%;
   background-color: azure;
   height: 30px;
   border-bottom: 1px solid black;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.post-comment:not(:last-child) {
   margin-bottom: 12px;
}
.post-comment_name {
   /* font-weight: 500; */
}
